<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XlsxReadWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XlsxReadWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XlsxReadWrite.Properties.Settings>
            <setting name="InputFileName" serializeAs="String">
                <value>StateRoster.xlsx</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>newAMCRoster.xlsx</value>
            </setting>
            <setting name="InputFileName2" serializeAs="String">
                <value>AMCRoster.xlsx</value>
            </setting>
            <setting name="Input1Columns" serializeAs="String">
                <value>1,0,2,3,4,0,0,7,0,8,5,6</value>
            </setting>
            <setting name="Input2Columns" serializeAs="String">
                <value>1,2,3,4,5,6,7,8,9,10,11,12,13,14</value>
            </setting>
            <setting name="IncludeMatchArray_str" serializeAs="String">
                <value>AEC,Adelaide Showground,Adelaide Oval,Adelaide (M/C),Woodville,Pt Adelaide</value>
            </setting>
            <setting name="RemoveMatchArray_str" serializeAs="String">
                <value>Metro North East Region,Metro South Region,Mid North &amp; Yorke Peninsula Region,Riverland &amp; South East Region,South Coast &amp; Adelaide Hills Region,Western Region</value>
            </setting>
            <setting name="IncludeMatchArray_col" serializeAs="String">
                <value>6,6,6,8,8,8</value>
            </setting>
            <setting name="RemoveMatchArray_col" serializeAs="String">
                <value>7,7,7,7,7,7</value>
            </setting>
            <setting name="IncludeMatchArray_exact" serializeAs="String">
                <value>false,false,false,false,false,false</value>
            </setting>
            <setting name="RemoveMatchArray_exact" serializeAs="String">
                <value>true,true,true,true,true,true</value>
            </setting>
            <setting name="FilterHidden" serializeAs="String">
                <value>False</value>
            </setting>
        </XlsxReadWrite.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XlsxReadWrite.Properties.Settings>
            <setting name="DataTableName" serializeAs="String">
                <value>XlsxReadWriteTable</value>
            </setting>
            <setting name="DataTableNamespace" serializeAs="String">
                <value>XlsxReadWrite</value>
            </setting>
            <setting name="TemporaryDirectory" serializeAs="String">
                <value>TEMP</value>
            </setting>
        </XlsxReadWrite.Properties.Settings>
    </applicationSettings>
</configuration>
